<!DOCTYPE html>
<html lang="pt-br" xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"><!--Tags que fazem
    referência ao thymeleaf e o xhtml-->

<head th:insert="~{head.html}"> <!--Cá estamos aproveitando código para não ter que mexer em todas as
    vistas, apenas uma já facilita a manutenção do código-->
</head>

<!--Inserindo fragmentos de código para reutilizar em outros projetos, nesse caso uma barra de navegação
No fragmento está a parte :: nav, aquilo quer dizer que o nome do fragmento vai ser nav-->
<header th:insert="~{navbar.html :: nav}"></header>

<body>
    <h2>Produto cadastrado com sucesso!</h2>
        
<!--Cuidar para que o que está entre ${} seja o nome passado no objeto Model que vai em forma de 
chave : valor pois não tem a ver como está instanciado o objeto e sim a nome no model. -->

    <div class="formProdutos">

            <div class="cadastro-produto">
                <p>
                    <label for="id">Id: </label>
                    <span type="text" th:text="${ProdutoForm.produtoId}" /></span> <!-- Muito cuidado: para mostrar dados deve ser usado th:text ao invés de th: field que só faz sentido se estiver sendo inserido um dado num formulário -->
                </p>
                
                <p>
                    <label for="nome">Produto: </label> 
                    <span type="text" th:text="${ProdutoForm.nome}" /></span>
                </p>
                
                <p>
                    <label for="tipo">Tipo: </label> 
                    <span type="text" th:text="${ProdutoForm.tipo}" /></span>
                </p>
                
                <p>
                    <label for="categoria">Categoria: </label> 
                    <span type="text" th:text="${ProdutoForm.categoria}" /></span>
                </p>
                
                <p>
                    <label for="marca">Marca: </label> 
                    <span type="text" th:text="${ProdutoForm.marca}" /></span>
                </p>
                
                <p>
                    <label for="udMedida">Unidade de medida: </label> 
                    <span type="text" th:text="${ProdutoForm.udMedida}" /></span>
                </p>
                
                <p>
                    <label for="quantidade_conteudo">Qtd de produto: </label> 
                    <span type="number" step="0.01"  th:text="${ProdutoForm.quantidadeConteudo}" /></span>
                </p>
                
                <p>
                    <label for="status">Status do produto: </label> 
                    <span type="checkbox" th:text="${ProdutoForm.status}" /></span>
                </p>

                <p>
                    <label for="preco">Preço: </label> 
                    <span type="number" step="0.01"  th:text="${ProdutoForm.preco}" /></span> <!-- Preço -->
                    <span type="text" th:text="${ProdutoForm.moeda}" /></span> <!-- Moeda -->
                </p>
                
                <p>
                    <label for="dataPreco">Data do preço: </label> 
                    <span type="date" th:text="${ProdutoForm.dataPreco}" /></span>
                </p>
                
                <p>
                    <label for="dataValidade">Data de validade: </label> 
                    <span type="date" th:text="${ProdutoForm.dataValidade}" /></span>
                </p>
                

                <p>
                    <label for="mercado">Mercado: </label> 
                    <span type="text" th:text="${ProdutoForm.redMercado + ' - ' +  ProdutoForm.bairro}" /></span>
                </p>

            </div>    

    </div>

</body>
</html>