<!DOCTYPE html>
<html lang="pt-br" xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"><!--Tags que fazem
    referência ao thymeleaf e o xhtml-->

<head th:insert="~{Head.html}"> <!--Cá estamos aproveitando código para não ter que mexer em todas as
    vistas, apenas uma já facilita a manutenção do código-->
</head>

<!--Inserindo fragmentos de código para reutilizar em outros projetos, nesse caso uma barra de navegação
No fragmento está a parte :: nav, aquilo quer dizer que o nome do fragmento vai ser nav-->
<header th:insert="~{Navbar.html :: nav}"></header>

<body>
    
    
<!--Cuidar para que o que está entre ${} seja o nome passado no objeto Model que vai em forma de 
chave : valor , pois não tem a ver como está instanciado o objeto e sim a nome no model.-->

    <div class="formProdutos mx-md-3 mx-sm-1">

        <h1 class="text-primary">Página de cadastro de Produto</h1>
    
        <p>Bem-vindo, cá pode fazer o cadastro dos produtos no banco de dados</p>

        <form th:action="@{/produtos/cadastroProdutos}" method="POST" th:object="${ProdutoFormularioDTO}"><!--O th:object nos diz o tipo de objeto que está sendo passado no POST, neeste caso é o ProdutoFormularioDTO que contém as informações compiladas das 3 entidades envolvidas no formulário (Produto, Mercado, ProdutoMercado). Aliás o Thymeleaf só aceita um objeto no formulário e por causa disso foi necessário criar o DTO-->
            <div class="cadastro-produto">

                <h3 class="text-secondary my-2">Produto</h3>

                <div class="form-group">
                    <label for="id">Id: </label>
                    <input type="hidden" th:field="${ProdutoForm.produtoId}" /><!--Fica como hidden para evitar inserir um id que já é gerenciado pelo banco de dados, mas necessário quando há atualização num registro-->
                </div>
                
                <div class="form-group col-12 col-sm-6">
                    <label for="nome">Produto: </label> 
                    <input type="text" class="form-control" th:field="${ProdutoForm.nome}" required/>
                </div>
                
                <div class="form-group col-12 col-sm-6 mb-2">
                    <label for="tipo">Tipo: </label> 
                    <input type="text" class="form-control" th:field="${ProdutoForm.tipo}" aria-describedby="Tipo" required/>
                    <small id="Tipo" class="text-form text-muted" > Escreva o tipo do produto, ex: inteira (leite), oliva (azeite), parborizado (arroz), etc.</small>
                </div>
                
                
                <div class="form-group col-12 col-sm-6 mb-2">
                    <label for="categoria">Categoria: </label> 
                    <input type="text" class="form-control" th:field="${ProdutoForm.categoria}" aria-describedby="category" required/>
                    <small id="category" class="text-form text-muted" > Escreva uma categoria, ex: limpeza, café da manhã, grãos, azeites; que represente o produto</small>
                </div>
                
                <div class="form-group col-12 col-sm-6">
                    <label for="marca">Marca: </label> 
                    <input type="text" class="form-control" th:field="${ProdutoForm.marca}" required/>
                </div>
                
                <div class="form-group col-12 col-sm-6 mb-2">
                    <label for="udMedida">Unidade de medida: </label> 
                    <input type="text" class="form-control" th:field="${ProdutoForm.udMedida}" aria-describedby="ud" required/>
                    <small id="ud" class="text-form text-muted" > Escreva ml (mililitro), kg (kilograma), L (Litro), ud (unidade), cm3 (centimetro cúbico) ou outro conforme seja no produto</small>
                </div>
                
                <div class="form-group col-12 col-sm-6">
                    <label for="quantidade_conteudo">Qtd de produto: </label> 
                    <input type="number" class="form-control" step="0.01"  th:field="${ProdutoForm.quantidadeConteudo}" required/>
                </div>
                
                <div class="form-check col-12 col-sm-6 my-3">
                    <label class="form-check-label" for="status" aria-describedby="Status" >Status do produto: </label> 
                    <input type="checkbox" id="status" class="form-check-input" th:field="${ProdutoForm.status}" required/>
                    <small id="Status" class="text-form text-muted" > Marque se for um produto ativo ou novo</small>
                </div>


                <h3 class="text-secondary my-2">Seleção do Mercado</h3>

                <div class="form-group col-12 col-sm-6">
                    <label for="mercado"> Selecione um mercado </label> 
                    <!-- Caixa de seleção do mercado -->
                     <select class="form-select" name="mercadoId" id="mercado" required> <!-- Muito importante: o name no html deve coincidir com o atributo no DTO -->
                            <option value="">-- Selecione--</option>
                            <!-- Cá no value utilizo id ao invés de mercadoId, pois mercado é um MercadoEntity, já o name do select tem mercadoId que é como está no DTO -->
                            <option th:each="mercado : ${Mercados}"
                                    th:value = "${mercado.id}"  
                                    th:text ="${mercado.mostrarMercadoRed}"> <!-- Atenção: Cá executo o método de MercadoEntity para enviar o nome correto -->
                            </option>

                     </select>

                    <div class="mb-3">
                        <!-- Link de redirecionamento caso seja necessário cadastrar um mercado por não estar na lista -->
                        <a class="link-primary" th:href="@{/mercados/cadastroMercados}">Cadastro de Mercados</a>
                    </div>

                </div>

                
                <h3 class="text-secondary my-2">Informações do produto no mercado</h3>

                <div class="form-group col-12 col-sm-6 my-3">
                    <label for="preco">Preço: </label> 
                    <input type="number" class="form-control" step="0.01"  th:field="${ProdutoForm.preco}" aria-describedby="Preco" required/>
                    <small id="Preco" class="text-form text-muted" > Se o valor tiver decimais, separe-os com ponto (.)</small>
                </div>
                
                <div class="form-group col-12 col-sm-6 my-3">
                    <label for="moeda">Moeda: </label> 
                    <input type="text" class="form-control" th:field="${ProdutoForm.moeda}" aria-describedby="Moeda" required/>
                    <small id="Moeda" class="text-form text-muted" > Escreva a moeda com a abreviatura, ex: BRL (real brasileiro)</small>
                </div>
                
                <div class="form-group col-12 col-sm-6">
                    <label for="dataPreco">Data do preço: </label> 
                    <input type="date" class="form-control" th:field="${ProdutoForm.dataPreco}" required/>
                </div>
                
                <div class="form-group col-12 col-sm-6">
                    <label for="dataValidade">Data de validade: </label> 
                    <input type="date" class="form-control" th:field="${ProdutoForm.dataValidade}" required/>
                </div>
                

            </div>    
                
            <div class="botoes-cadastro mt-3">
                <button class="btn btn-success" type="submit"> Cadastrar </button>
            </div>
            
        </form>

    </div>

</body>
</html>