<!DOCTYPE html>
<html lang="pt-br" xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"><!--Tags que fazem
    referência ao thymeleaf e o xhtml-->

<head th:insert="~{head.html}"> <!--Cá estamos aproveitando código para não ter que mexer em todas as
    vistas, apenas uma já facilita a manutenção do código-->
</head>

<!--Inserindo fragmentos de código para reutilizar em outros projetos, nesse caso uma barra de navegação
No fragmento está a parte :: nav, aquilo quer dizer que o nome do fragmento vai ser nav-->
<header th:insert="~{navbar.html :: nav}"></header>

<body>
    <h2>Mercado cadastrado com sucesso!</h2>
        
<!--Cuidar para que o que está entre ${} seja o nome passado no objeto Model que vai em forma de 
chave : valor pois não tem a ver como está instanciado o objeto e sim a nome no model. -->

    <div class="formMercados">

            <div class="cadastro-mercado">
                <p>
                    <label for="id">Id: </label>
                    <span type="text" th:text="${mercadoForm.mercadoId}" /></span>
                </p>
                
                <p>
                    <label for="bairro">Nome: </label> 
                    <span type="text" th:text="${mercadoForm.bairro}" /></span>
                </p>
                
                <p>
                    <label for="endereco">Endereço: </label> 
                    <span type="text" th:text="${mercadoForm.endereco}" /></span>
                </p>
                
                
                <p>
                    <label for="numero">Número: </label> 
                    <span type="text" th:text="${mercadoForm.numero}" /></span>
                </p>
                
                <p>
                    <label for="cep">CEP: </label> 
                    <span type="text" th:text="${mercadoForm.cep}" /></span>
                </p>
                
                <p>
                    <label for="cidade">Cidade: </label> 
                    <span type="text" th:text="${mercadoForm.cidade}" /></span>
                </p>
                
                <p>
                    <label for="telefone">Telefone: </label> 
                    <span type="text" th:text="${mercadoForm.telefone}" /></span>
                </p>
                
                <p>
                    <label for="site">Página web: </label> 
                    <span type="text" th:text="${mercadoForm.site}" /></span>
                </p>
                
                <p>
                    <label for="teleEntrega">Tele-entrega?: </label> 
                    <span type="text" th:text="${mercadoForm.teleEntrega}" /></span>
                </p>
                
                <p>
                    <label for="uf">UF/Estado/Dpto:  </label> 
                    <span type="text" th:text="${mercadoForm.uf}" /></span>
                </p>

                <p>
                    <label for="red">Red de supermercado:  </label> 
                    <span type="text" th:text="${mercadoForm.nomeRed}" /></span>
                </p>


            </div>    

    </div>

</body>
</html>