<!DOCTYPE html>
<html lang="pt-br" xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"><!--Tags que fazem
    referência ao thymeleaf e o xhtml-->

<head th:insert="~{head.html}"> <!--Cá estamos aproveitando código para não ter que mexer em todas as
    vistas, apenas uma já facilita a manutenção do código-->
</head>

<!--Inserindo fragmentos de código para reutilizar em outros projetos, nesse caso uma barra de navegação
No fragmento está a parte :: nav, aquilo quer dizer que o nome do fragmento vai ser nav-->
<header th:insert="~{navbar.html :: nav}"></header>

<body>
    <h2>Produto cadastrado com sucesso!</h2>
        
<!--Cuidar para que o que está entre ${} seja o nome passado no objeto Model que vai em forma de 
chave : valor pois não tem a ver como está instanciado o objeto e sim a nome no model. -->

    <div class="formProdutos">

            <div class="cadastro-produto">
                <p>
                    <label for="id">Id: </label>
                    <span type="text" th:text="${Produto.id}" /></span> <!-- Muito cuidado: para mostrar dados deve ser usado th:text ao invés de th: field que só faz sentido se estiver sendo inserido um dado num formulário -->
                </p>
                
                <p>
                    <label for="nome">Produto: </label> 
                    <span type="text" th:text="${Produto.nome}" /></span>
                </p>
                
                <p>
                    <label for="tipo">Tipo: </label> 
                    <span type="text" th:text="${Produto.tipo}" /></span>
                </p>
                
                <p>
                    <label for="categoria">Categoria: </label> 
                    <span type="text" th:text="${Produto.categoria}" /></span>
                </p>
                
                <p>
                    <label for="marca">Marca: </label> 
                    <span type="text" th:text="${Produto.marca}" /></span>
                </p>
                
                <p>
                    <label for="ud_medida">Unidade de medida: </label> 
                    <span type="text" th:text="${Produto.ud_medida}" /></span>
                </p>
                
                <p>
                    <label for="quantidade_conteudo">Qtd de produto: </label> 
                    <span type="number" step="0.01"  th:text="${Produto.quantidade_conteudo}" /></span>
                </p>
                
                <p>
                    <label for="preco">Preço: </label> 
                    <span type="number" step="0.01"  th:text="${Produto.preco}" /></span>
                </p>
                
                <p>
                    <label for="moeda">Moeda: </label> 
                    <span type="text" th:text="${Produto.moeda}" /></span>
                </p>
                
                <p>
                    <label for="data_preco">Data do preço: </label> 
                    <span type="date" th:text="${Produto.data_preco}" /></span>
                </p>
                
                <p>
                    <label for="data_validade">Data de validade: </label> 
                    <span type="date" th:text="${Produto.data_validade}" /></span>
                </p>
                
                <p>
                    <label for="status">Status do produto: </label> 
                    <span type="checkbox" th:text="${Produto.status}" /></span>
                </p>
            </div>    

    </div>

</body>
</html>