<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de produtos</title>
    <!-- 
    <link rel="stylesheet" type = "text/css" th:href="@{'/css/' + ${nomeNoControlador} + '.css'}" />
    -->
</head>

<body>

<header th:insert="~{Navbar.html :: nav}"></header>

<div class="formPesquisa">

        <form th:action="@{/}" method="POST" th:object="${ProdutoEntity}">
            <div class="pesquisa-produto">

                <h4>Pesquise um produto de mercado</h4>
                    <p>
                        <input type="text" th:field="${Produto.nome}" />
                    </p>
            </div>    
                
            <div class="botoes-pesquisa">
                <button type="submit"> Pesquisar </button>
            </div>
            
        </form>

</body>
</html> 