<!DOCTYPE html>
<html lang="pt-br">

<head th:insert="~{head.html}"></head>

<!--Inserindo fragmentos de código para reutilizar em outros projetos, nesse caso uma barra de navegação
No fragmento está a parte :: nav, aquilo quer dizer que o nome do fragmento vai ser nav-->
<header th:insert="~{navbar.html :: nav}"></header>

<body>
    <h2>Resultados da busca</h2>

    <!--Vindo resultados na busca-->
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Categoria</th>
                <th>Marca</th>
                <th>Ud Medida</th>
                <th>Qde Conteudo</th>
                <!-- Info de preços -->
                <th>Preço</th>
                <th>Data Preço</th>
                <th>Data Validade</th>
                <!-- Info de mercado -->
                <th>Mercado</th>
                <!-- Status -->
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="produto : ${Produtos}"> <!-- Utiliza-se o block para poder iterar 2 vezes e não romper a tabela -->

            <!--Atenção com o nome da lista de produtos no controlador, a lista é com p minusculo
            mas aquela passada no Model é com P maiúsculo, é por isso que uso ${Produtos} no 1ro each
            No 2do each é usado produto.precosMercados que é a lista de PrecoComMercadoDTO-->

                <tr th:each="preco : ${produto.precosMercados}" >
                <td th:text="${produto.produtoId}"></td>
                <td th:text="${produto.nomeProduto}"></td>
                <td th:text="${produto.tipo}"></td>
                <td th:text="${produto.categoria}"></td>
                <td th:text="${produto.marca}"></td>
                <td th:text="${produto.udMedida}"></td>
                <td th:text="${produto.quantidadeConteudo}"></td>
                <td th:text="${preco.preco} - ${preco.moeda}"></td>
                <td th:text="${preco.dataPreco}"></td>
                <td th:text="${preco.dataValidade}"></td>
                <td th:text="${preco.bairro + ' - ' + preco.redMercado}"></td>
                <td th:text="${produto.status}"></td>

            </tr>

            </th:block>
        </tbody>
    </table>

    <!--Se não vierem resultados da busca-->
    <div th:if="${Mensagem}" class="alert alert-warning">
        <span th:text="${Mensagem}"></span>
    </div>
    
</body>
</html>